body{
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
}

nav, main {
  border: 1px solid red;
  box-sizing: border-box;
}

nav {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}

main{
  display: inline-block;
  width: 75%
}
